{% extends "waste_management/base.html" %}

{% load crispy_forms_tags %}

{% load mathfilters %}

{% load humanize %}

{% block content %}
<style>
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    button {
    margin: 5px;
    }

    label {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    }

    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
    }

    .container {
    max-width: 960px;
    margin: auto auto;
    padding: 10px;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    }

    th {
        text-align: center;
    }
    td {
        text-align: left;
    }
    .item {
    background: white;
    color: black;
    font-size: 15px;
    padding: 20px;
    border: skyblue 1px solid;
    }

    .item:nth-of-type(1) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(2) {
    grid-column: 1 / 3;
    text-align: left;
    }
    .item:nth-of-type(3) {
    grid-column: 3 / 5;
    text-align: left;
    }
    .item:nth-of-type(4) {
    grid-column: 1 / 3;
    text-align: left;
    }
    .item:nth-of-type(5) {
    grid-column: 3 / 5;
    text-align: left;
    }
    .item:nth-of-type(6) {
    grid-column: 1 / 3;
    text-align: left;
    }
    .item:nth-of-type(7) {
    grid-column: 3 / 5;
    text-align: left;
    }
    .item:nth-of-type(8) {
    grid-column: 1 / 5;
    text-align: left;
    }
    .item:nth-of-type(9) {
    grid-column: 1 / 5;
    text-align: left;
    }




    /* .item:nth-of-type(3) {
    background: #333;
    grid-row: 2 / 4;
    }

    .item:nth-of-type(4) {
    background: #333;
    grid-row: 2 / 4;
    } */

    @media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}
</style>
<div class="container">
    <div class="item"><h2>Internal Goods Issue Note</h2></div>
    <div class="item"><strong>KAPA/WHS/0010</strong></div>
    <div class="item"><strong>To: </strong>{{ object.department_to }}</div>
    <div class="item"><strong>Serial Number:</strong> {{ object.id }}</div> 
    <div class="item"><strong>Raised on: </strong>{{ object.date_posted|date:"F d, Y"  }}</div> 
    <div class="item"><strong>Delivered by: </strong>{{ object.delivered_by }}</div>
    <div class="item"><strong>Raised by: </strong>{{ object.author }}</div>
    <div class="item"> 
        <fieldset class="form-group">
            <legend class="center border-bottom mb-4" style="text-align: center;">Item Details</legend>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Material</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">UOM</th>
                        <th scope="col">W/H Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object.material_1 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_1 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_1 }}</td>
                        <td style="text-align: center;">{{ object.material_1.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_1 }}</td>                        
                    </tr>
                    {% endif %}
                    {% if object.material_2 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_2 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_2 }}</td>
                        <td style="text-align: center;">{{ object.material_2.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_2 }}</td>
                        
                    </tr>
                    {% endif %}
                    {% if object.material_3 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_3 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_3 }}</td>
                        <td style="text-align: center;">{{ object.material_3.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_3 }}</td>
                        
                    </tr>
                    {% endif %}
                    {% if object.material_4 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_4 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_4 }}</td>
                        <td style="text-align: center;">{{ object.material_4.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_4 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_5 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_5 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_5 }}</td>
                        <td style="text-align: center;">{{ object.material_5.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_5 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_6 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_6 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_6 }}</td>
                        <td style="text-align: center;">{{ object.material_6.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_6 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_7 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_7 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_7 }}</td>
                        <td style="text-align: center;">{{ object.material_7.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_7 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_8 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_8 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_8 }}</td>
                        <td style="text-align: center;">{{ object.material_8.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_8 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_9 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_9 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_9 }}</td>
                        <td style="text-align: center;">{{ object.material_9.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_9 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_10 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_10 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_10 }}</td>
                        <td style="text-align: center;">{{ object.material_10.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_10 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_11 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_11 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_11 }}</td>
                        <td style="text-align: center;">{{ object.material_11.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_11 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_12 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_12 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_12 }}</td>
                        <td style="text-align: center;">{{ object.material_12.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_12 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_13 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_13 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_13 }}</td>
                        <td style="text-align: center;">{{ object.material_13.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_13 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_14 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_14 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_14 }}</td>
                        <td style="text-align: center;">{{ object.material_14.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_14 }}</td>
                    </tr>
                    {% endif %}
                    {% if object.material_15 == None %}
                    <tr></tr>
                    {% else %}
                    <tr>
                        <td>{{ object.material_15 }}</td>
                        <td style="text-align: center;">{{ object.material_quantity_15 }}</td>
                        <td style="text-align: center;">{{ object.material_15.uom }}</td>
                        <td style="text-align: center;">{{ object.warehouse_weight_15 }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </fieldset>
    </div>    
    <div class="item">
        <form method="POST" action="" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
                {% csrf_token %}
                    <fieldset class="form-group">

                        <div>{{ form|crispy }}</div>

                        <div class="row justify-content-center mt-5">
                            <button name="elevate" value="Submit" type="submit" class="btn btn-outline-success active btn-sm">Approve</button>
                            <button name="demote" value="Submit" type="submit" class="btn btn-outline-danger active btn-sm">Reject</button>
                        </div>
                    </fieldset>
        </form>
    </div>
  </div>

{% endblock content %}