{% extends "waste_management/base.html" %}

{% load crispy_forms_tags %}

{% load mathfilters %}

{% load humanize %}

{% block content %}
<style>
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    button {
    margin: 5px;
    }

    label {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    }

    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
    }

    .container {
    max-width: 960px;
    margin: auto auto;
    padding: 10px;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    }

    .item {
    background: white;
    color: black;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
    }

    .item:nth-of-type(1) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(2) {
    grid-column: 1 / 3;
    text-align: center;
    }
    .item:nth-of-type(3) {
    grid-column: 3 / 5;
    text-align: center;
    }
    .item:nth-of-type(4) {
    grid-column: 1 / 3;
    text-align: center;
    }
    .item:nth-of-type(5) {
    grid-column: 3 / 5;
    text-align: center;
    }
    .item:nth-of-type(6) {
    grid-column: 1 / 3;
    text-align: center;
    }
    .item:nth-of-type(7) {
    grid-column: 3 / 5;
    text-align: center;
    }
    .item:nth-of-type(8) {
    grid-column: 1 / 3;
    text-align: center;
    }
    .item:nth-of-type(9) {
    grid-column: 3 / 5;
    text-align: center;
    }
    .item:nth-of-type(10) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(11) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(12) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(13) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(14) {
    grid-column: 1 / 5;
    text-align: center;
    }




    /* .item:nth-of-type(3) {
    background: #333;
    grid-row: 2 / 4;
    }

    .item:nth-of-type(4) {
    background: #333;
    grid-row: 2 / 4;
    } */

    @media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}
</style>
<div class="container">
    <div class="item"><h2>GOODS RETURN NOTE (KGRN)</h2></div>
    <div class="item" style="text-align: Left"><strong>KAPA/PSD/0020</strong></div>
    <div class="item" style="text-align: Left"><strong>KP-SA-FM-20(0)</strong></div>
    <div class="item" style="text-align: Left"><strong>Department:</strong> {{ dnote.department }}</div>
    <div class="item" style="text-align: Left"><strong>Supplier:</strong> {{ dnote.supplier }}</div>
    <div class="item" style="text-align: Left"><strong>Serial Number:</strong> {{ checks.serial_num }}</div> 
    <div class="item" style="text-align: Left"><strong>Raised on:</strong> {{ checks.date_posted|date:"F d, Y"  }}</div> 
    <div class="item" style="text-align: Left"><strong>D/Notes Serials:</strong> {{ checks.form_serials }}</div>
    <div class="item" style="text-align: Left"><strong>Raised by:</strong> {{ checks.author }}</div>
    <div class="item"> 
        <fieldset class="form-group">
            <table class='table' style="text-align: Left">
                <thead>
                <tr>
                    <th>ITEM</th>
                    <th style="text-align: center">QUANTITY</th>
                </tr>    
                </thead>
            {% for dnote in dnotes_list %}
                {% if dnote.item1 != null %}
                <tr>
                    <td>{{ dnote.item1 }}</td>
                    <td style="text-align: center">{{ dnote.item_qty1|intcomma }}</td>            
                </tr>
                {% endif %}
                {% if dnote.item2 != null %}
                <tr>
                    <td>{{ dnote.item2 }}</td>
                    <td style="text-align: center">{{ dnote.item_qty2|intcomma }}</td>            
                </tr>
                {% endif %}
                {% if dnote.item3 != null %}
                <tr>
                    <td>{{ dnote.item3 }}</td>
                    <td style="text-align: center">{{ dnote.item_qty3|intcomma }}</td>            
                </tr>
                {% endif %}
                {% if dnote.item4 != null %}
                <tr>
                    <td>{{ dnote.item4 }}</td>
                    <td style="text-align: center">{{ dnote.item_qty4|intcomma }}</td>            
                </tr>
                {% endif %}
                {% if dnote.item5 != null %}
                <tr>
                    <td>{{ dnote.item5 }}</td>
                    <td style="text-align: center">{{ dnote.item_qty5|intcomma }}</td>            
                </tr>
                {% endif %}
                {% if dnote.item6 != null %}
                <tr>
                    <td>{{ dnote.item6 }}</td>
                    <td style="text-align: center">{{ dnote.item_qty6|intcomma }}</td>            
                </tr>
                {% endif %}
                {% if dnote.item7 != null %}
                <tr>
                    <td>{{ dnote.item7 }}</td>
                    <td style="text-align: center">{{ dnote.item_qty7|intcomma }}</td>            
                </tr>
                {% endif %}
                {% if dnote.item8 != null %}
                <tr>
                    <td>{{ dnote.item8 }}</td>
                    <td style="text-align: center">{{ dnote.item_qty8|intcomma }}</td>            
                </tr>
                {% endif %}
            {% endfor %}
            </table>
        </fieldset>
    </div>
    <div class="item" style="text-align: Left"><strong>{{ checks.hod }} (H.O.D) comments:</strong> {{ checks.hod_comment }}</div>
    <div class="item" style="text-align: Left"><strong>{{ checks.purchase_rep}} (Procurement) comments:</strong> {{ checks.purchase_comment }}</div> 
    <div class="item" style="text-align: Left"><strong>Resolution:</strong> {{ checks.resolution }}</div>     
    <div class="item">
        <form method="POST" action="" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
                {% csrf_token %}
                    <fieldset class="form-group">

                        <div>{{ form|crispy }}</div>
                        <!-- <div>{{ form.purchase_comment}}</div> -->

                        <div class="row justify-content-center mt-5">
                            <button name="elevate" value="Submit" type="submit" class="btn btn-outline-success active btn-sm">Close</button>
                            <button name="demote" value="Submit" type="submit" class="btn btn-outline-danger active btn-sm">Reject</button>
                        </div>
                    </fieldset>
        </form>
    </div>
  </div>

{% endblock content %}