{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'waste_management/grid2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'waste_management/bootstrap.min.css' %}">
    <title>Kapa Waste</title>
  </head>
  <body>
    <header>Header</header>
    <main> 
        {% if messages %}
        <div class='alert alert-success alert-dismissible'>
          {% for message in messages %}
            {{ message }}<br/>
          {% endfor %}
        </div>
        {% endif %}   
        
        {% block content %}
        {% endblock %}
    </main>
    <nav>Navigation</nav>
    <aside>Sidebar</aside>
    <footer>Footer</footer>
  </body>
</html>
