{% load crispy_forms_tags %}

{% load mathfilters %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bottstrap CSS-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    {% if title %}
        <title>Kapa Forms- {{ title }}</title>
    {% else %}
        <title>Kapa Forms</title>
    {% endif %}
    <style type="text/css">

        @page {
            background-image: url("http://10.10.1.71:8000/media/Goods_Issue_NoteA5.png");
            size: A5 landscape;
        }
         body {
            font-weight: 200;
            font-size: 14px;
        }
        .container {
            position: relative;
            text-align: Left;
            /* padding-top: 50px; */
            /* padding-right: 30px; */
            /* padding-bottom: 50px; */
            /* padding-left: 200px; */
        } 
        th {
            text-align: left;
        }
         .top_row {
            padding-top: 100px;
        }
        .top_row_field {
            padding-top: 20px;
        }
        .bottom_row_hod {
            padding-top: 60px;
        }
        .top_row_resolution {
            padding-top: 80px;
        }
        .bottom_row {
            padding-top: 5px;
            position:absolute;
            bottom: 0px;
            padding-bottom: 0px;
        }

    </style>
</head>

<body>
  <div class="container">
                <fieldset>
                    <p class="top_row">
                        <strong>Serial Number:</strong>
                        {{ gin.id }}
                    </p>
                    <p>
                        <strong>Date Posted:</strong>
                        {{ gin.date_posted|date:"F d, Y" }}
                        
                    </p>
                    <p>
                        <strong>To:</strong>
                        {{ gin.department_to }} 
                    </p>
                    <p>
                        <strong>Delivered by:</strong>
                        {{ gin.delivered_by }} 
                    </p>
                </fieldset>
                <fieldset>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Material</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">UOM</th>
                                <th scope="col">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if gin.item1 != null %}
                            <tr>
                                {% if gin.item_qty1_sale != null %}
                                <td>{{ gin.item1 }}</td>
                                <td>{{ gin.item_qty1_sale }}</td>
                                <td>{{ gin.item1.uom }}</td>
                                <td>{{ gin.item_qty1_sale | mul:gin.item1.price |floatformat:2 }}</td>
                                {% else %}
                                <td>{{ gin.item1 }}</td>
                                <td>{{ gin.item_qty1 }}</td>
                                <td>{{ gin.item1.uom }}</td>
                                <td>{{ gin.item_qty1 | mul:gin.item1.price |floatformat:2 }}</td>
                                {% endif %}                                
                            </tr>
                            {% endif %}
                            {% if gin.item2 != null %}
                            <tr>
                                {% if gin.item_qty2_sale != null %}
                                <td>{{ gin.item2 }}</td>
                                <td>{{ gin.item_qty2_sale }}</td>
                                <td>{{ gin.item2.uom }}</td>
                                <td>{{ gin.item_qty2_sale | mul:gin.item2.price |floatformat:2 }}</td>
                                {% else %}
                                <td>{{ gin.item2 }}</td>
                                <td>{{ gin.item_qty2 }}</td>
                                <td>{{ gin.item2.uom }}</td>
                                <td>{{ gin.item_qty2 | mul:gin.item2.price |floatformat:2 }}</td>
                                {% endif %}    
                            </tr>
                            {% endif %}
                            {% if gin.item3 != null %}
                            <tr>
                                {% if gin.item_qty3_sale != null %}
                                <td>{{ gin.item3 }}</td>
                                <td>{{ gin.item_qty3_sale }}</td>
                                <td>{{ gin.item3.uom }}</td>
                                <td>{{ gin.item_qty3_sale | mul:gin.item3.price |floatformat:2 }}</td>
                                {% else %}
                                <td>{{ gin.item3 }}</td>
                                <td>{{ gin.item_qty3 }}</td>
                                <td>{{ gin.item3.uom }}</td>
                                <td>{{ gin.item_qty3 | mul:gin.item3.price |floatformat:2 }}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item4 != null %}
                            <tr>
                                {% if gin.item_qty4_sale != null %}
                                <td>{{ gin.item4 }}</td>
                                <td>{{ gin.item_qty4_sale }}</td>
                                <td>{{ gin.item4.uom }}</td>
                                <td>{{ gin.item_qty4_sale | mul:gin.item4.price |floatformat:2 }}</td>
                                {% else %}
                                <td>{{ gin.item4 }}</td>
                                <td>{{ gin.item_qty4 }}</td>
                                <td>{{ gin.item4.uom }}</td>
                                <td>{{ gin.item_qty4 | mul:gin.item4.price |floatformat:2 }}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item5 != null %}
                            <tr>
                                {% if gin.item_qty5_sale != null %}
                                <td>{{ gin.item5 }}</td>
                                <td>{{ gin.item_qty5_sale }}</td>
                                <td>{{ gin.item5.uom }}</td>
                                <td>{{ gin.item_qty5_sale | mul:gin.item5.price |floatformat:2 }}</td>
                                {% else %}
                                <td>{{ gin.item5 }}</td>
                                <td>{{ gin.item_qty5 }}</td>
                                <td>{{ gin.item5.uom }}</td>
                                <td>{{ gin.item_qty5 | mul:gin.item5.price |floatformat:2 }}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item6 != null %}
                            <tr>
                                {% if gin.item_qty6_sale != null %}
                                <td>{{ gin.item6 }}</td>
                                <td>{{ gin.item_qty6_sale }}</td>
                                <td>{{ gin.item6.uom }}</td>
                                <td>{{ gin.item_qty6_sale | mul:gin.item6.price |floatformat:2 }}</td>
                                {% else %}
                                <td>{{ gin.item6 }}</td>
                                <td>{{ gin.item_qty6 }}</td>
                                <td>{{ gin.item6.uom }}</td>
                                <td>{{ gin.item_qty6 | mul:gin.item6.price |floatformat:2 }}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item7 != null %}
                            <tr>
                                {% if gin.item_qty7_sale != null %}
                                <td>{{ gin.item7 }}</td>
                                <td>{{ gin.item_qty7_sale }}</td>
                                <td>{{ gin.item7.uom }}</td>
                                <td>{{ gin.item_qty7_sale | mul:gin.item7.price |floatformat:2 }}</td>
                                {% else %}
                                <td>{{ gin.item7 }}</td>
                                <td>{{ gin.item_qty7 }}</td>
                                <td>{{ gin.item7.uom }}</td>
                                <td>{{ gin.item_qty7 | mul:gin.item7.price |floatformat:2 }}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item8 != null %}
                            <tr>
                                {% if gin.item_qty8_sale != null %}
                                <td>{{ gin.item8 }}</td>
                                <td>{{ gin.item_qty8_sale }}</td>
                                <td>{{ gin.item8.uom }}</td>
                                <td>{{ gin.item_qty8_sale | mul:gin.item8.price |floatformat:2 }}</td>
                                {% else %}
                                <td>{{ gin.item8 }}</td>
                                <td>{{ gin.item_qty8 }}</td>
                                <td>{{ gin.item8.uom }}</td>
                                <td>{{ gin.item_qty8 | mul:gin.item8.price |floatformat:2 }}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td>KES {{ gin.my_total }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </fieldset>
                <fieldset  class="bottom_row">
                    <table>
                        <tr>
                            <td><strong>Prepared by:</strong>
                                {{ gin.author }}
                            </td>
                            <td><strong>Received by:</strong>
                                {{ gin.received_by }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Time in:</strong>
                                ___________________
                            </td>
                            <td><strong>Signature:</strong>
                                ___________________
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Time out:</strong>
                                ___________________
                            </td>
                            <td><strong>Designation</strong>
                                ___________________
                            </td>
                        </tr>
                    </table>
                </fieldset> 
 
    </div>

  <!--jQuery then Popper.js then Bootstrap js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>