{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bottstrap CSS-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    {% if title %}
        <title>Kapa Forms- {{ title }}</title>
    {% else %}
        <title>Kapa Forms</title>
    {% endif %}
    <style type="text/css">

        @page {
            background-image: url("http://10.10.1.71:8000/media/A4.png");
            size: A5 landscape;
        }
        body {
            font-weight: 200;
            font-size: 14px;
        }
        .container {
            position: relative;
            text-align: Left;
            /* padding-top: 50px; */
            /* padding-right: 30px; */
            /* padding-bottom: 50px; */
            padding-left: 40px;
        }
        /* .legend1 {
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 40px;
        } */
         .top_row {
            padding-top: 100px;
        }
        .top_row_field {
            padding-top: 20px;
        }
        .bottom_row_hod {
            padding-top: 60px;
        }
        .top_row_resolution {
            padding-top: 80px;
        }
        .bottom_row {
            padding-top: 5px;
            position:absolute;
            bottom: 0px;
            padding-bottom: 0px;
        }

    </style>
</head>

<body>
  <div class="container">
                <fieldset>
                    <p class="top_row">
                        <strong>Serial Number:</strong>
                        {{ goods_issue_note.id }}
                    </p>
                    <p>
                        <strong>Date Posted:</strong>
                        {{ goods_issue_note.date_posted|date:"F d, Y" }}
                        
                    </p>
                    <p>
                        <strong>Department:</strong>
                        {{ dnote.department }} 
                    </p>
                </fieldset>
                <fieldset>
                    <table>
                        <thead>
                        <tr>
                            <th style="text-align: Left;">SUPPLIER</th>
                            <th style="text-align: Left;">ITEM</th>
                            <th style="text-align: Left;">QUANTITY</th>
                        </tr>    
                        </thead>
                        {% if dnote.item1 != null %}
                        <tr>
                            <td>{{ dnote.supplier }}</td>
                            <td>{{ dnote.item1 }}</td>
                            <td>{{ dnote.item_qty1 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item2 != null %}
                        <tr>
                            <td>{{ dnote.supplier }}</td>
                            <td>{{ dnote.item2 }}</td>
                            <td>{{ dnote.item_qty2 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item3 != null %}
                        <tr>
                            <td>{{ dnote.supplier }}</td>
                            <td>{{ dnote.item3 }}</td>
                            <td>{{ dnote.item_qty3 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item4 != null %}
                        <tr>
                            <td>{{ dnote.supplier }}</td>
                            <td>{{ dnote.item4 }}</td>
                            <td>{{ dnote.item_qty4 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item5 != null %}
                        <tr>
                            <td>{{ dnote.supplier }}</td>
                            <td>{{ dnote.item5 }}</td>
                            <td>{{ dnote.item_qty5 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item6 != null %}
                        <tr>
                            <td>{{ dnote.supplier }}</td>
                            <td>{{ dnote.item6 }}</td>
                            <td>{{ dnote.item_qty6 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item7 != null %}
                        <tr>
                            <td>{{ dnote.supplier }}</td>
                            <td>{{ dnote.item7 }}</td>
                            <td>{{ dnote.item_qty7 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item8 != null %}
                        <tr>
                            <td>{{ dnote.supplier }}</td>
                            <td>{{ dnote.item8 }}</td>
                            <td>{{ dnote.item_qty8 }}</td>            
                        </tr>
                        {% endif %}
                    </table>
                </fieldset>
                <fieldset  class="bottom_row">
                    <table>
                        <tr>
                            <th style="text-align: Left">DEPARTMENT</th>
                            <th style="text-align: Left">WAREHOUSE</th>
                        </tr>
                        <tr>
                            <td><strong>Loaded by:</strong>
                                {{ dnote.waste_loader }}
                            </td>
                            <td><strong>Received by:</strong>
                                {{ dnote.waste_offloader }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Form Submitted by:</strong>
                                {{ dnote.author }}
                            </td>
                            <td><strong>H.O.D / Representative:</strong>
                                {{ dnote.warehouse_hod }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>H.O.D:</strong>
                                {{ dnote.hod }}
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                    <!-- <div>
                        <p>
                            <strong>Loaded by:</strong>
                            {{ dnote.waste_loader }}
                        </p>
                        <p>
                            <strong>Form Submitted by:</strong>
                            {{ dnote.author }}
                        </p>
                        <p>
                            <strong>Department HOD:</strong>
                            {{ dnote.hod }}
                        </p>
                        <p >
                            <strong>Received by (Warehouse Clerk):</strong>
                            {{ dnote.waste_offloader }}
                        </p>
                        <p >
                            <strong>Warehouse HOD / Representative:</strong>
                            {{ dnote.warehouse_hod }}
                        </p>
                    </div> -->
                </fieldset> 
 
    </div>
    <div>
        
    </div>

  <!--jQuery then Popper.js then Bootstrap js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>