{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!--Bottstrap CSS-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    {% if title %}
        <title>Kapa Forms- {{ title }}</title>
    {% else %}
        <title>Kapa Forms</title>
    {% endif %}
    <style type="text/css">

        @page {
            background-image: url("http://10.10.0.173:8000/media/KGRN_A4.png");
            size: A4 portrait;
            margin-left: 1.5cm;
            margin-right: 0.8cm;
            margin-top: 2.9cm;
        }
        body {
            font-weight: 200;
            font-size: 10px;
        }
        .container {
            position: relative;
            text-align: Left;
            /* padding-top: 50px; */
            /* padding-right: 30px; */
            /* padding-bottom: 50px; */
            padding-left: 0px;
            /* padding-bottom: 1px; */
        }
        .my_table {
            border: 1px solid rgba(207, 204, 204, 0.014);
            border-collapse: collapse;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
        }
        .my_table > thead > tr > th {
            background-color: #808080;
        }
         .top_row {
            padding-top: 100px;
        }
        .top_row_field {
            padding-top: 20px;
        }
        .bottom_row_hod {
            padding-top: 60px;
        }
        .top_row_resolution {
            padding-top: 80px;
        }
        .bottom_row {
            padding-top: 5px;
            position:absolute;
            bottom: 0px;
            padding-bottom: 0px;
        }

    </style>
</head>

<body>
  <div class="container">
            <div class="media-body">
                <fieldset>
                    <p class="top_row">
                        <strong>KGRN No.:</strong>
                        {{ checks.serial_num }}
                    </p>
                    <p>
                        <strong>D/Notes Serials:</strong>
                        {{ checks.form_serials }}
                    </p>
                    <p>
                        <strong>Date Created:</strong>
                        {{ checks.date_posted|date:"F d, Y" }}
                        
                    </p>
                    <p >
                        <strong>Department:</strong>
                        {{ checks.department }} 
                    </p>
                    <p >
                        <strong>Supplier:</strong>
                        {{ dnote.supplier|title }} 
                    </p>
                    <p >
                        <strong>Resolution:</strong>
                        {{ checks.resolution }} 
                    </p>
                </fieldset>
                    <table class='my_table'>
                        <thead>
                        <tr>
                            <th style="text-align: Left ; width: 50%">MATERIAL</th>
                            <th style="text-align: Left ; width: 15%">UOM</th>
                            <th style="text-align: Left ; width: 15%">QUANTITY</th>
                        </tr>    
                        </thead>
                    {% for dnote in dnotes_list %}
                        {% if dnote.item1 != null %}
                        <tr>
                            <td>{{ dnote.item1 }}</td>
                            <td>{{ dnote.item1.uom }}</td>
                            <td>{{ dnote.item_qty1 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item2 != null %}
                        <tr>
                            <td>{{ dnote.item2 }}</td>
                            <td>{{ dnote.item1.uom }}</td>
                            <td>{{ dnote.item_qty2 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item3 != null %}
                        <tr>
                            <td>{{ dnote.item3 }}</td>
                            <td>{{ dnote.item1.uom }}</td>
                            <td>{{ dnote.item_qty3 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item4 != null %}
                        <tr>
                            <td>{{ dnote.item4 }}</td>
                            <td>{{ dnote.item1.uom }}</td>
                            <td>{{ dnote.item_qty4 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item5 != null %}
                        <tr>
                            <td>{{ dnote.item5 }}</td>
                            <td>{{ dnote.item1.uom }}</td>
                            <td>{{ dnote.item_qty5 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item6 != null %}
                        <tr>
                            <td>{{ dnote.item6 }}</td>
                            <td>{{ dnote.item1.uom }}</td>
                            <td>{{ dnote.item_qty6 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item7 != null %}
                        <tr>
                            <td>{{ dnote.item7 }}</td>
                            <td>{{ dnote.item1.uom }}</td>
                            <td>{{ dnote.item_qty7 }}</td>            
                        </tr>
                        {% endif %}
                        {% if dnote.item8 != null %}
                        <tr>
                            <td>{{ dnote.item8 }}</td>
                            <td>{{ dnote.item1.uom }}</td>
                            <td>{{ dnote.item_qty8 }}</td>            
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                <fieldset style="margin-top: 20px;" class="bottom_row">
                    <table style="text-align: Left">
                        <tr>
                            <th colspan ="2" style="text-align: Left"><U>KAPA DETAILS:</U></th>
                            <th colspan ="2" style="text-align: Left"><U>COLLECTED BY (SUPPLIER):</U></th>
                        </tr>
                        <tr>
                            <td colspan ="2"><strong>Prepared by:</strong>
                                {{ checks.author }}
                            </td>
                            <td colspan ="2"><strong>Name:</strong>
                                {{ checks.collected_by }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan ="2"><strong>H.O.D / Representative::</strong>
                                {{ checks.hod  }}
                            </td>
                            <td colspan ="2"><strong>ID Number:</strong>
                                {{ checks.id_number }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan ="2"><strong>Purchasing Rep.:</strong>
                                {{ checks.purchase_rep }}
                            </td>
                            <td colspan ="2"><strong>Vehicle number:</strong>
                                {{ checks.vehicle_no }}
                            </td>
                        </tr>
                        {% if checks.kgrn_status == 8 %}
                            <tr>
                                <td colspan ="2"><strong>Closed by:</strong>
                                    {{ checks.closed_by }}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </fieldset> 

</div>

  <!--jQuery then Popper.js then Bootstrap js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>