{% load crispy_forms_tags %}

{% load mathfilters %}

{% load humanize %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
        <title>Kapa Forms- {{ title }}</title>
    {% else %}
        <title>Kapa Forms</title>
    {% endif %}
    <style type="text/css">

        @page {
            background-image: url("http://10.10.1.71:8000/media/Goods_Issue_NoteA4.jpg");
            size: A4 portrait;
            margin-left: 1.5cm;
            margin-right: 2.8cm;
            margin-top: 2.4cm;
        }
         body {
            font-weight: 200;
            font-size: 10px;
            top: 0px;
            bottom: 0px;
        }
        .container {
            position: relative;
            text-align: left;
            top: 0px;
            bottom: 0px;
            /* bottom: 0px; */
            /* padding-top: 50px; */
            /* padding-right: 5px; */
            /* padding-bottom: 50px; */
            /* padding-left: 10px; */
        } 
        th {
            text-align: center;
        }
        td {
            text-align: left;
        }
        .my_table {
            border: 1px solid rgba(207, 204, 204, 0.014);
            border-collapse: collapse;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
        }
        .my_table > thead > tr > th {
            background-color: #808080;
        }
        /* tbody tr:nth-child(4) td:nth-child(3) {
            text-align: right;
        } */
         .top_row {
            padding-top: 100px;
        }
        .top_row_field {
            padding-top: 20px;
        }
        .bottom_row_hod {
            padding-top: 60px;
        }
        .top_row_resolution {
            padding-top: 80px;
        }
        .bottom_row {
            padding-top: 5px;
            position:absolute;
            bottom: 0px;
            padding-bottom: 5px;
        }

    </style>
</head>

<body>
  <div class="container">
                <fieldset style="padding-left: 10px;">
                    <p class="top_row">
                        <strong>Serial Number:</strong>
                        {{ gin.id }}
                    </p>
                    <p>
                        <strong>Date:</strong>
                        {{ gin.date_posted|date:"F d, Y" }}
                        
                    </p>
                    <p>
                        <strong>To:</strong>
                        {{ gin.department_to }} 
                    </p>
                    <p>
                        <strong>Delivered by:</strong>
                        {{ gin.delivered_by }} 
                    </p>
                </fieldset>
                <fieldset>
                    <table class="table table-striped my_table">
                        <thead>
                            <tr>
                                <th scope="col" style="width:50%">Material</th>
                                <th scope="col" style="width:15%">Quantity</th>
                                <th scope="col" style="width:5%">UOM</th>
                                <th scope="col" style="width:15%">Unit Price</th>
                                <th scope="col" style="width:15%">Total Price (KES)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if gin.item1 != null %}
                            <tr>
                                {% if gin.item_qty1_sale != null %}
                                <td>{{ gin.item1 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty1_sale }}</td>
                                <td style="text-align: center;">{{ gin.item1.uom }}</td>
                                <td style="text-align: right;">{{ object.item1.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty1_sale | mul:gin.item1.price |floatformat:2 |intcomma}}</td>
                                {% else %}
                                <td>{{ gin.item1 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty1 }}</td>
                                <td style="text-align: center;">{{ gin.item1.uom }}</td>
                                <td style="text-align: right;">{{ gin.item1.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty1 | mul:gin.item1.price |floatformat:2 |intcomma}}</td>
                                {% endif %}                                
                            </tr>
                            {% endif %}
                            {% if gin.item2 != null %}
                            <tr>
                                {% if gin.item_qty2_sale != null %}
                                <td>{{ gin.item2 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty2_sale }}</td>
                                <td style="text-align: center;">{{ gin.item2.uom }}</td>
                                <td style="text-align: right;">{{ gin.item2.price }}</td>
                                <td  style="text-align: right;">{{ gin.item_qty2_sale | mul:gin.item2.price |floatformat:2 |intcomma}}</td>
                                {% else %}
                                <td>{{ gin.item2 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty2 }}</td>
                                <td style="text-align: center;">{{ gin.item2.uom }}</td>
                                <td style="text-align: right;">{{ gin.item2.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty2 | mul:gin.item2.price |floatformat:2 |intcomma}}</td>
                                {% endif %}    
                            </tr>
                            {% endif %}
                            {% if gin.item3 != null %}
                            <tr>
                                {% if gin.item_qty3_sale != null %}
                                <td>{{ gin.item3 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty3_sale }}</td>
                                <td style="text-align: center;">{{ gin.item3.uom }}</td>
                                <td style="text-align: right;">{{ gin.item3.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty3_sale | mul:gin.item3.price |floatformat:2 |intcomma}}</td>
                                {% else %}
                                <td>{{ gin.item3 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty3 }}</td>
                                <td style="text-align: center;">{{ gin.item3.uom }}</td>
                                <td style="text-align: right;">{{ gin.item3.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty3 | mul:gin.item3.price |floatformat:2 |intcomma}}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item4 != null %}
                            <tr>
                                {% if gin.item_qty4_sale != null %}
                                <td>{{ gin.item4 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty4_sale }}</td>
                                <td style="text-align: center;">{{ gin.item4.uom }}</td>
                                <td style="text-align: right;">{{ gin.item4.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty4_sale | mul:gin.item4.price |floatformat:2 |intcomma}}</td>
                                {% else %}
                                <td>{{ gin.item4 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty4 }}</td>
                                <td style="text-align: center;">{{ gin.item4.uom }}</td>
                                <td style="text-align: right;">{{ gin.item4.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty4 | mul:gin.item4.price |floatformat:2 |intcomma}}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item5 != null %}
                            <tr>
                                {% if gin.item_qty5_sale != null %}
                                <td>{{ gin.item5 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty5_sale }}</td>
                                <td style="text-align: center;">{{ gin.item5.uom }}</td>
                                <td style="text-align: right;">{{ gin.item5.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty5_sale | mul:gin.item5.price |floatformat:2 |intcomma}}</td>
                                {% else %}
                                <td>{{ gin.item5 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty5 }}</td>
                                <td style="text-align: center;">{{ gin.item5.uom }}</td>
                                <td style="text-align: right;">{{ gin.item4.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty5 | mul:gin.item5.price |floatformat:2 |intcomma}}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item6 != null %}
                            <tr>
                                {% if gin.item_qty6_sale != null %}
                                <td>{{ gin.item6 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty6_sale }}</td>
                                <td style="text-align: center;">{{ gin.item6.uom }}</td>
                                <td style="text-align: right;">{{ gin.item6.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty6_sale | mul:gin.item6.price |floatformat:2 |intcomma}}</td>
                                {% else %}
                                <td>{{ gin.item6 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty6 }}</td>
                                <td style="text-align: center;">{{ gin.item6.uom }}</td>
                                <td style="text-align: right;">{{ gin.item6.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty6 | mul:gin.item6.price |floatformat:2 |intcomma}}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item7 != null %}
                            <tr>
                                {% if gin.item_qty7_sale != null %}
                                <td>{{ gin.item7 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty7_sale }}</td>
                                <td style="text-align: center;">{{ gin.item7.uom }}</td>
                                <td style="text-align: right;">{{ gin.item7.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty7_sale | mul:gin.item7.price |floatformat:2 |intcomma}}</td>
                                {% else %}
                                <td>{{ gin.item7 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty7 }}</td>
                                <td style="text-align: center;">{{ gin.item7.uom }}</td>
                                <td style="text-align: right;">{{ gin.item7.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty7 | mul:gin.item7.price |floatformat:2 |intcomma}}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                            {% if gin.item8 != null %}
                            <tr>
                                {% if gin.item_qty8_sale != null %}
                                <td>{{ gin.item8 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty8_sale }}</td>
                                <td style="text-align: center;">{{ gin.item8.uom }}</td>
                                <td style="text-align: right;">{{ gin.item8.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty8_sale | mul:gin.item8.price |floatformat:2 |intcomma}}</td>
                                {% else %}
                                <td>{{ gin.item8 }}</td>
                                <td style="text-align: center;">{{ gin.item_qty8 }}</td>
                                <td style="text-align: center;">{{ gin.item8.uom }}</td>
                                <td style="text-align: right;">{{ gin.item8.price }}</td>
                                <td style="text-align: right;">{{ gin.item_qty8 | mul:gin.item8.price |floatformat:2|intcomma }}</td>
                                {% endif %} 
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <table>
                        <tfoot>
                            <tr></tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>NET VALUE:</strong></td>
                                <td style="text-align: right;"><strong>{{ gin.my_total |intcomma}}</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>VAT (16%):</strong></td>
                                <td style="text-align: right;"><strong>{{ 0.16 | mul:gin.my_total |floatformat:2 |intcomma}}</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>GROSS VALUE:</strong></td>
                                <td style="text-align: right;"><strong><u>{{ 1.16 | mul:gin.my_total |floatformat:2 |intcomma }}</u></strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </fieldset>
    </div>
    <br><br>
    <div>
        <fieldset class ="bottom_row">
            <table>
                <tr>
                    <td><strong>Prepared by:</strong>
                        {{ gin.author }}
                    </td>
                    <td></td><td></td>
                    <td><strong>H.O.D / Representative:</strong>
                        {{ gin.hod }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Time in Warehouse:</strong>
                        {{ gin.time_in }}
                    </td>
                    <td></td><td></td>
                    <td><strong>FM / Management:</strong>
                        {{ gin.approved_by }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Time out Warehouse:</strong>
                        {{ gin.time_out }}
                    </td>
                    <td></td><td></td>
                    <td><strong>Received by:</strong>
                        {{ gin.received_by }}
                    </td>
                </tr>
            </table>
        </fieldset> 
    </div>

  <!--jQuery then Popper.js then Bootstrap js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>