{% extends "waste_management/base.html" %}

{% load crispy_forms_tags %}

{% load bootstrap %}

{% block content %}
<style>
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    button {
    margin: 5px;
    }

    label {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    }

    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
    }

    .container-fluid {
    margin: auto auto;
    padding: 0;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;

    /* align-items: end;
    justify-content: end; */

    /* column-gap: 10px;
    row-gap: 10px; */
    /* grid-auto-rows: minmax(200px, auto); */
    /* grid-template-rows: repeat(3, 1fr); */
    }

    .item {
    background: white;
    color: black;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
    }

    .item:nth-of-type(1) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(2) {
    grid-column: 1 / 5;
    text-align: center;
    }




    /* .item:nth-of-type(3) {
    background: #333;
    grid-row: 2 / 4;
    }

    .item:nth-of-type(4) {
    background: #333;
    grid-row: 2 / 4;
    } */

    @media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}
</style>
<div class="container">
    <div class="item"><h2>Goods Issue Notes Summary</h2></div>
    <font size="2" color= "black" face="Times New Roman" >
        <form method="get" class="form-inline">
            {{ filter.form|crispy }}
            <input name="search" type="submit" value="SEARCH" class="btn btn-outline-primary btn-block"/>
        </form>
    </font>
    <div class="item">
        <font size="3" face="Times New Roman" >
        <table class='table'>
            <thead>
            <tr>
                <th>Form No.</th>
                <th>DATE POSTED</th>
                <th>SUBMITED BY</th>
                <th>TO</th>
                <th>STATUS</th>
                <th>UPDATE/PRINT</th>
            </tr>
            </thead>
            {% for goods_issue_note in filter.qs %}
                <tr>
                    <td>{{goods_issue_note.id}}</td>
                    <td>{{ goods_issue_note.date_posted }}</td>
                    <td>{{ goods_issue_note.author }}</td>
                    <td>{{ goods_issue_note.department_to }}</td>

                {% if goods_issue_note.form_status == 0 %}
                    <td>Rejected</td>
                {% elif goods_issue_note.form_status == 1 %}
                    <td>Submitted to HOD</td>
                {% elif goods_issue_note.form_status == 2 %}
                    <td>Submitted to HOD</td>
                {% elif goods_issue_note.form_status == 3 %}
                    <td>Submitted to FM/Directors</td>
                {% elif goods_issue_note.form_status == 4 %}
                    <td>Submitted to {{ goods_issue_note.department_internal }}</td>
                {% elif goods_issue_note.form_status == 5 %}
                    <td>Submitted to sales</td>
                {% elif goods_issue_note.form_status == 7 %}
                    <td>Complete</td>
                {% elif goods_issue_note.form_status == 8 %}
                    <td>Complete</td>
                {% endif %}

                {% if goods_issue_note.form_status == 0 %}
                    <td style="color:red;">Invalid form...</td>
                {% elif goods_issue_note.form_status == 1 %} 
                    {% if request.user.profile.level == 2 or request.user.profile.level == 8 %}
                        <td><a href="{% url 'goods_issue_note-hodupdate' goods_issue_note.id %}">Update</a></td>
                    {% else %}
                        <td><a href="{% url 'goods_issue_note-update' goods_issue_note.id %}">Awaiting Approval...</a></td>
                    {% endif %}
                {% elif goods_issue_note.form_status == 2 %} 
                    {% if request.user.profile.level == 2 or request.user.profile.level == 8%}
                        <td><a href="{% url 'goods_issue_note-hodupdate1' goods_issue_note.id %}">Update</a></td>
                    {% else %}
                        <td><a href="{% url 'goods_issue_note-update' goods_issue_note.id %}">Awaiting Approval...</a></td>
                    {% endif %}
                {% elif goods_issue_note.form_status == 3 %} 
                    {% if request.user.profile.level == 7 or request.user.profile.level == 8%}
                        <td><a href="{% url 'goods_issue_note-update' goods_issue_note.id %}">Update</a></td>
                    {% else %}
                        <td><a href="{% url 'goods_issue_note-update' goods_issue_note.id %}">Awaiting Approval...</a></td>
                    {% endif %}
                {% elif goods_issue_note.form_status == 4 %} 
                    {% if request.user.profile.department == goods_issue_note.department_internal and request.user.profile.level == 2  or request.user.profile.level == 8%}
                        <td><a href="{% url 'goods_issue_note-update1' goods_issue_note.id %}">Update</a></td>
                    {% else %}
                        <td><a href="{% url 'goods_issue_note-update' goods_issue_note.id %}">Awaiting Approval4...</a></td>
                    {% endif %}
                {% elif goods_issue_note.form_status == 5 %} 
                    {% if request.user.profile.level == 5 or request.user.profile.level == 8 %}
                        <td><a href="{% url 'goods_issue_note-update2' goods_issue_note.id%}">Update</a></td>
                    {% else %}
                        <td><a href="{% url 'goods_issue_note-update' goods_issue_note.id %}">Awaiting Approval...</a></td>
                    {% endif %}
                {% elif goods_issue_note.form_status == 7 %}
                    <td><a href="{% url 'goods_issue_note_pdf_view1' goods_issue_note.id%}">Get PDF</a></td>
                {% elif goods_issue_note.form_status == 8 %}
                    <td><a href="{% url 'goods_issue_note_pdf_view' goods_issue_note.id%}">Get PDF</a></td>
                {% else %}
                    <td style="color:red;">Error</td>
                {% endif %}

                </tr>
            {% endfor %}
        </table>
        </font>
    </div>
    <div>
        {%if is_paginated %}

        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
      
      {% endif %}
    </div>
</div>

{% endblock content %}