{% extends "waste_management/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    button {
    margin: 5px;
    }

    label {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    }

    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
    }

    .container-fluid {
    margin: auto auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    }

    .item {
    background: white;
    color: black;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
    }

    .item:nth-of-type(1) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(2) {
    grid-column: 1 / 5;
    text-align: center;
    }

    @media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}
</style>
<div class="container">
    <div class="item"><h2>KGRNs From Dnotes Summary</h2></div>
    <font size="2" color= "black" face="Times New Roman" >
        <form method="get" class="form-inline">
            {{ filter.form|crispy }}
            <input type="submit" name="search" value="SEARCH" class="btn btn-outline-primary btn-block"/>
        </form>
    </font>
    <div class="item">
        <font size="3" face="Times New Roman" >
        <table class='table'>
            <thead>
            <tr>
                <th>KGRN No.</th>
                <th>D/NOTE SERIALS</th>
                <th>SUPPLIER</th>
                <th>DATE POSTED</th>
                <th>SUBMITED BY</th>
                <th>STATUS</th>
                <th>UPDATE/PRINT</th>
            </tr>
            </thead>
            <tbody>
            {% for kgrn in filter.qs %}
                <tr>
                    <td>{{ kgrn.serial_num }}</td>
                    <td>{{ kgrn.form_serials }}</td>
                    <td>{{ kgrn.supplier }}</td>
                    <td>{{ kgrn.date_posted }}</td>
                    <td>{{ kgrn.author }}</td>

                {% if kgrn.kgrn_status == 0 %}
                    <td>Add Driver Details</td>
                {% elif kgrn.kgrn_status == 15 %}
                    <td>Submitted to Dept HOD</td>
                {% elif kgrn.kgrn_status == 1 %}
                    <td>Rejected by HOD</td>
                {% elif kgrn.kgrn_status == 2 %}
                    <td>Submitted to Purchasing</td>
                {% elif kgrn.kgrn_status == 3 %}
                    <td>Rejected by Purchasing</td>
                {% elif kgrn.kgrn_status == 4 %} 
                    {% if request.user.profile.level == 4 or request.user.profile.level == 8 %}
                        <td><a href="{% url 'kgrn-updatec1' kgrn.id %}">Release to accounts?</a></td>
                    {% else %}
                        <td style="color:blue;">Awaiting Supplier's Action...</td>
                    {% endif %}
                {% elif kgrn.kgrn_status == 6 %} 
                    {% if request.user.profile.level == 6 or request.user.profile.level == 8 %}
                        <td><a href="{% url 'kgrn-update2' kgrn.id %}">Close KGRN?</a></td>
                    {% else %}
                        <td style="color:blue;">Submitted to accounts...</td>
                    {% endif %}
                {% elif kgrn.kgrn_status == 8 %}
                    <td>Closed</td>
                {% endif %}

                {% if kgrn.kgrn_status == 0 %}
                    <td><a href="{% url 'kgrn-update0' kgrn.id %}">Update</a></td>
                {% elif kgrn.kgrn_status == 15 %}
                    {% if request.user.profile.level == 2 or request.user.profile.level == 8%}
                    <td><a href="{% url 'kgrn-update' kgrn.id %}">Update</a></td>
                    {% else %}
                    <td><a href="{% url 'kgrn-update2' kgrn.id%}">Awaiting Approval ...</a></td>
                    {% endif %}
                {% elif kgrn.kgrn_status == 3 %} 
                    {% if request.user.profile.level == 2 or request.user.profile.level == 8 %}
                    <td><a href="{% url 'kgrn-update' kgrn.id %}">Update</a></td>
                    {% else %}
                    <td><a href="{% url 'kgrn-update2' kgrn.id%}">Awaiting Approval ...</a></td>
                    {% endif %}                        
                {% elif kgrn.kgrn_status == 2 %}
                    {% if request.user.profile.level == 4 or request.user.profile.level == 8 %} 
                    <td><a href="{% url 'kgrn-update1' kgrn.id %}">Update</a></td>
                    {% else %}
                    <td><a href="{% url 'kgrn-update2' kgrn.id%}">Awaiting Approval ...</a></td>
                    {% endif %}
                {% elif kgrn.kgrn_status == 4 or kgrn.kgrn_status == 6 or kgrn.kgrn_status == 8 %}
                    <td><a href="{% url 'kgrn_pdf_view' kgrn.id %}">Get PDF</a></td>
                {% else %}
                    <td><a href="{% url 'kgrn-update2' kgrn.id%}">Awaiting Approval ...</a></td>
                {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        </font>
    </div>
    <div class="row justify-content-center">
        {%if is_paginated %}

        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
      
      {% endif %}
    </div>
</div>

{% endblock content %}