{% extends "waste_management/base.html" %}

{% load crispy_forms_tags %}

{% load mathfilters %}

{% load humanize %}

{% block content %}
<style>
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    button {
    margin: 5px;
    }

    label {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    }

    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
    }

    .container {
    max-width: 960px;
    margin: auto auto;
    padding: 10px;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;

    /* align-items: end;
    justify-content: end; */

    /* column-gap: 10px;
    row-gap: 10px; */
    /* grid-auto-rows: minmax(200px, auto); */
    /* grid-template-rows: repeat(3, 1fr); */
    }

    .item {
    background: white;
    color: black;
    font-size: 15px;
    padding: 20px;
    border: skyblue 1px solid;
    }

    .item:nth-of-type(1) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(2) {
    grid-column: 1 / 3;
    text-align: left;
    }
    .item:nth-of-type(3) {
    grid-column: 3 / 5;
    text-align: left;
    }
    .item:nth-of-type(4) {
    grid-column: 1 / 3;
    text-align: left;
    }
    .item:nth-of-type(5) {
    grid-column: 3 / 5;
    text-align: left;
    }
    .item:nth-of-type(6) {
    grid-column: 1 / 3;
    text-align: left;
    }
    .item:nth-of-type(7) {
    grid-column: 3 / 5;
    text-align: left;
    }
    .item:nth-of-type(8) {
    grid-column: 1 / 5;
    text-align: left;
    }
    .item:nth-of-type(9) {
    grid-column: 1 / 5;
    text-align: left;
    }




    /* .item:nth-of-type(3) {
    background: #333;
    grid-row: 2 / 4;
    }

    .item:nth-of-type(4) {
    background: #333;
    grid-row: 2 / 4;
    } */

    @media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}
</style>
<div class="container">
    <div class="item"><h2>Internal Goods Issue Note</h2></div>
    <div class="item"><strong>KAPA/WHS/0010</strong></div>
    <div class="item"><strong>To: </strong>{{ object.department_to }}</div>
    <div class="item"><strong>Serial Number:</strong> {{ object.id }}</div> 
    <div class="item"><strong>Raised on: </strong>{{ object.date_posted|date:"F d, Y"  }}</div> 
    <div class="item"><strong>Delivered by: </strong>{{ object.delivered_by }}</div>
    <div class="item"><strong>Raised by: </strong>{{ object.author }}</div>
    <div class="item">
        <form method="POST" action="" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="center border-bottom mb-4">Items</legend>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Material</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">UOM</th>
                            <th scope="col">W/H Weight</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Total Price (KES)</th>
                            <th scope="col">WB Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object.material_1 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_1 }}</td>
                            <td>{{ object.material_quantity_1 }}</td>
                            <td>{{ object.material_1.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_1 }}</td>
                            <td>{{ object.material_1.price }}</td>
                            <td>{{ object.material_quantity_1 | mul:object.material_1.price |floatformat:2 |intcomma}}</td>
                            {% if object.material_1.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_1|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}  
                            
                        </tr>
                        {% endif %}
                        {% if object.material_2 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_2 }}</td>
                            <td>{{ object.material_quantity_2 }}</td>
                            <td>{{ object.material_2.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_2 }}</td>
                            <td>{{ object.material_2.price }}</td>
                            <td>{{ object.material_quantity_2 | mul:object.material_2.price |floatformat:2 |intcomma}}</td>
                            {% if object.material_2.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_2|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                            
                        </tr>
                        {% endif %}
                        {% if object.material_3 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_3 }}</td>
                            <td>{{ object.material_quantity_3 }}</td>
                            <td>{{ object.material_3.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_3 }}</td>
                            <td>{{ object.material_3.price }}</td>
                            <td>{{ object.material_quantity_3 | mul:object.material_3.price |floatformat:2 |intcomma}}</td>
                            {% if object.material_3.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_3|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                            
                        </tr>
                        {% endif %}
                        {% if object.material_4 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_4 }}</td>
                            <td>{{ object.material_quantity_4 }}</td>
                            <td>{{ object.material_4.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_4 }}</td>
                            <td>{{ object.material_4.price }}</td>
                            <td>{{ object.material_quantity_4 | mul:object.material_4.price |floatformat:2 |intcomma}}</td>
                            {% if object.material_4.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_4|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_5 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_5 }}</td>
                            <td>{{ object.material_quantity_5 }}</td>
                            <td>{{ object.material_5.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_5 }}</td>
                            <td>{{ object.material_5.price }}</td>
                            <td>{{ object.material_quantity_5 | mul:object.material_5.price |floatformat:2 |intcomma}}</td>
                            {% if object.material_5.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_5|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_6 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_6 }}</td>
                            <td>{{ object.material_quantity_6 }}</td>
                            <td>{{ object.material_6.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_6 }}</td>
                            <td>{{ object.material_6.price }}</td>
                            <td>{{ object.material_quantity_6 | mul:object.material_6.price |floatformat:2 |intcomma}}</td>
                            {% if object.material_6.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_6|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_7 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_7 }}</td>
                            <td>{{ object.material_quantity_7 }}</td>
                            <td>{{ object.material_7.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_7 }}</td>
                            <td>{{ object.material_7.price }}</td>
                            <td>{{ object.material_quantity_7 | mul:object.material_7.price |floatformat:2 |intcomma}}</td>
                            {% if object.material_7.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_7|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_8 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_8 }}</td>
                            <td>{{ object.material_quantity_8 }}</td>
                            <td>{{ object.material_8.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_8 }}</td>
                            <td>{{ object.material_8.price }}</td>
                            <td>{{ object.material_quantity_8 | mul:object.material_8.price |floatformat:2 |intcomma }}</td>
                            {% if object.material_8.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_8|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_9 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_9 }}</td>
                            <td>{{ object.material_quantity_9 }}</td>
                            <td>{{ object.material_9.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_9 }}</td>
                            <td>{{ object.material_9.price }}</td>
                            <td>{{ object.material_quantity_9 | mul:object.material_9.price |floatformat:2 |intcomma }}</td>
                            {% if object.material_9.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_9|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_10 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_10 }}</td>
                            <td>{{ object.material_quantity_10 }}</td>
                            <td>{{ object.material_10.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_10 }}</td>
                            <td>{{ object.material_10.price }}</td>
                            <td>{{ object.material_quantity_10 | mul:object.material_10.price |floatformat:2 |intcomma }}</td>
                            {% if object.material_10.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_10|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_11 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_11 }}</td>
                            <td>{{ object.material_quantity_11 }}</td>
                            <td>{{ object.material_11.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_11 }}</td>
                            <td>{{ object.material_11.price }}</td>
                            <td>{{ object.material_quantity_11 | mul:object.material_11.price |floatformat:2 |intcomma }}</td>
                            {% if object.material_11.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_11|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_12 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_12 }}</td>
                            <td>{{ object.material_quantity_12 }}</td>
                            <td>{{ object.material_12.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_12 }}</td>
                            <td>{{ object.material_12.price }}</td>
                            <td>{{ object.material_quantity_12 | mul:object.material_12.price |floatformat:2 |intcomma }}</td>
                            {% if object.material_12.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_12|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_13 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_13 }}</td>
                            <td>{{ object.material_quantity_13 }}</td>
                            <td>{{ object.material_13.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_13 }}</td>
                            <td>{{ object.material_13.price }}</td>
                            <td>{{ object.material_quantity_13 | mul:object.material_13.price |floatformat:2 |intcomma }}</td>
                            {% if object.material_13.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_13|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_14 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_14 }}</td>
                            <td>{{ object.material_quantity_14 }}</td>
                            <td>{{ object.material_14.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_14 }}</td>
                            <td>{{ object.material_14.price }}</td>
                            <td>{{ object.material_quantity_14 | mul:object.material_14.price |floatformat:2 |intcomma }}</td>
                            {% if object.material_14.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_14|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                        {% if object.material_15 == None %}
                        <tr></tr>
                        {% else %}
                        <tr>
                            <td>{{ object.material_15 }}</td>
                            <td>{{ object.material_quantity_15 }}</td>
                            <td>{{ object.material_15.uom }}</td>
                            <td style="text-align: center;">{{ object.warehouse_weight_15 }}</td>
                            <td>{{ object.material_15.price }}</td>
                            <td>{{ object.material_quantity_15 | mul:object.material_15.price |floatformat:2 |intcomma }}</td>
                            {% if object.material_15.uom == "KG" %}
                            <td>{{ form.weighbridge_weight_15|as_crispy_field }}</td>
                            {% else %}
                            <td></td>
                            {% endif %} 
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <table>
                    <tfoot>
                        <tr>
                            <td style="width:25% ; text-align: right;"><strong>WAREHOUSE WEIGHT: &nbsp;</strong></td>
                            <td style="width:25% ; text-align: left;"><strong>{{ object.total_weight_wh}} KG</strong></td>
                            <td style="width:25%" ><strong>ESTIMATED VALUE:</strong></td>
                            <td style="width:25% ; text-align: right;"><strong>{{ object.my_total |intcomma}}</strong></td>
                        </tr>
                        <tr>
                            <td style="width:50% ; text-align: right;"><strong>TOTAL WEIGHBRIDGE WEIGHT:</strong></td>
                            <td style="width:25%"><strong> {{ form.total_weight_wb|as_crispy_field }}</strong></td>
                            <td style="width:25%" ><strong>VAT (16%):</strong></td>
                            <td  style="width:25% ; text-align: right;"><strong>{{ 0.16 | mul:object.my_total |floatformat:2 |intcomma}}</strong></td>
                        </tr>
                        <tr>
                            <td style="width:25%"></td>
                            <td style="width:25%"></td>
                            <td style="width:25%"><strong>GROSS ESTIMATED VALUE:</strong></td>
                            <td style="width:25% ; text-align: right;"><strong>{{ 1.16 | mul:object.my_total |floatformat:2 |intcomma }}</strong></td>
                        </tr>
                    </tfoot>
                </table>
                    <!-- <tfoot>
                        <tr>
                            <td><strong>WAREHOUSE WEIGHT:</strong></td>
                            <td><strong>{{ object.total_weight_wh}} KG</strong></td>
                            <td></td>
                            <td></td>
                            <td><strong>ESTIMATED VALUE:</strong></td>
                            <td>{{ object.my_total |intcomma}}</td>
                        </tr>
                        <tr>
                            <td><strong>WEIGHBRIDGE WEIGHT:</strong></td>
                            <td><strong>{{ form.total_weight_wb|as_crispy_field }} KG</strong></td>
                            <td></td>
                            <td></td>
                            <td><strong>VAT (16%):</strong></td>
                            <td>{{ 0.16 | mul:object.my_total |floatformat:2 |intcomma}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>GROSS ESTIMATED VALUE:</strong></td>
                            <td>{{ 1.16 | mul:object.my_total |floatformat:2 |intcomma }}</td>
                        </tr>
                    </tfoot>
                </table> -->
            </fieldset>
    </div>    
        <div class="item">
                        <fieldset class="form-group">

                            <!-- <div>{{ form|crispy }}</div> -->

                            <div class="row justify-content-center mt-5">
                                <button name="elevate" value="Submit" type="submit" class="btn btn-outline-success active btn-sm">Complete</button>
                                <button name="demote" value="Submit" type="submit" class="btn btn-outline-danger active btn-sm">Reject</button>
                            </div>
                        </fieldset>
            
        </div>

    </form>
  </div>

{% endblock content %}