{% extends "waste_management/base.html" %}

{% load crispy_forms_tags %}

{% load bootstrap %}

{% block content %}
<style>
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    button {
    margin: 5px;
    }

    label {
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    }

    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
    }

    .container-fluid {
    margin: auto auto;
    padding: 0;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;

    /* align-items: end;
    justify-content: end; */

    /* column-gap: 10px;
    row-gap: 10px; */
    /* grid-auto-rows: minmax(200px, auto); */
    /* grid-template-rows: repeat(3, 1fr); */
    }

    .item {
    background: white;
    color: black;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
    }

    .item:nth-of-type(1) {
    grid-column: 1 / 5;
    text-align: center;
    }
    .item:nth-of-type(2) {
    grid-column: 1 / 5;
    text-align: center;
    }




    /* .item:nth-of-type(3) {
    background: #333;
    grid-row: 2 / 4;
    }

    .item:nth-of-type(4) {
    background: #333;
    grid-row: 2 / 4;
    } */

    @media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}
</style>
<div class="container">
    <div class="item"><h2>Waste Delivery Notes Summary</h2></div>
    <font size="2" color= "black" face="Times New Roman" >
      <form method="get" class="form-inline">
          {{ filter.form|crispy }}
          <input type="submit" name="search" value="SEARCH" class="btn btn-outline-primary btn-block"/>
      </form>
    </font>
    <form method="POST" action="{%url 'create_checklist' %}" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}
    {{form.as_p}}
    <div class="item">
        <font size="3" face="Times New Roman" >
        <table class='table'>
            <thead>
            <tr>
                <th>SERIAL NUMBER</th>
                <th>DEPARTMENT</th>
                <th>SUPPLIER</th>
                <th>DATE POSTED</th>
                <th>SUBMITED BY</th>
                <th>STATUS</th>
                <th>UPDATE / VIEW</th>
            </tr>
            </thead>
        {% for waste_delivery_note in filter.qs %}
            <tr>
                <td>{{ waste_delivery_note.id }}</td>
                <td>{{ waste_delivery_note.department }}</td>
                <td>{{ waste_delivery_note.supplier }}</td>
                <td>{{ waste_delivery_note.date_posted }}</td>
                <td>{{ waste_delivery_note.author }}</td>

                {% if waste_delivery_note.form_status == 2 %}
                <td>Submitted to HOD</td>
                {% elif waste_delivery_note.form_status == 1 %}
                <td>Rejected by HOD</td>
                {% elif waste_delivery_note.form_status == 4 %}
                <td>Approved by HOD</td>
                {% elif waste_delivery_note.form_status == 3 %}
                <td>Rejected by Warehouse</td>
                {% elif waste_delivery_note.form_status == 6 %}
                <td>Submitted to Warehouse Clerk</td>
                {% elif waste_delivery_note.form_status == 8 %}
                <td>Submitted to Warehouse HOD</td>
                {% elif waste_delivery_note.form_status == 10 %}
                <td>Delivery note ready</td>
                {% elif waste_delivery_note.form_status == 11 %}
                <td>Delivery note ready</td>
                {% else %}
                <td>Error</td>
                {% endif %}

                {% if waste_delivery_note.form_status == 0 %}
                <td><a href="{% url 'waste_delivery_note-create' %}">Update</a></td>
                {% elif waste_delivery_note.form_status == 1 %}
                <td><a href="{% url 'dnotes' %}" style="color: red">Invalid Form</a></td>
                {% elif waste_delivery_note.form_status == 2 and request.user.profile.level > 1 %}
                <td><a href="{% url 'dnote-update' waste_delivery_note.id%}">Update</a></td>
                {% elif waste_delivery_note.form_status == 4 %}
                <td><a href="#">Create Checklist</a></td>
                {% elif waste_delivery_note.form_status == 3 %}
                <td><a href="#">Rejected</a></td>
                {% elif waste_delivery_note.form_status == 6 %}
                <td><a href="{% url 'checklists' %}">Accept Checklist</a></td>
                {% elif waste_delivery_note.form_status == 8 %}
                  {% if request.user.profile.level == 2 and request.user.profile.department_id == 14 or request.user.profile.level == 8 %}
                  <td><a href="{% url 'dnote-update1' waste_delivery_note.id%}">Update</a></td>
                  {% else %}
                  <td><a href="#">Awaiting Approval ...</a></td>
                  {% endif %}
                {% elif waste_delivery_note.form_status == 10 %}
                <td><a href="{% url 'dnote_pdf_view' waste_delivery_note.id%}">Get PDF</a></td>
                {% elif waste_delivery_note.form_status == 11 %}
                <td><a href="{% url 'dnote_pdf_view' waste_delivery_note.id%}">Get PDF</a></td>
                {% else %}
                <td><a href="#">Awaiting Approval ...</a></td>
                {% endif %}

                
                {% if waste_delivery_note.form_status != 4 or waste_delivery_note.department != my_department %}
                <td><input type="checkbox" disabled="disabled"></td>
                {% else %}
                <td><input type="checkbox" name = "checks[]" value = "{{waste_delivery_note.id}}"></td>
                {% endif %}

            </tr>
        {% endfor %}
        </table>
        </font>
    </div>
    <div class="row justify-content-center">
        <button name="create" value="Submit" type="submit" class="btn btn-outline-success active btn-sm">Create Checklist</button>
    </div>

    </form>

    <div>
        {%if is_paginated %}

        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
      
      {% endif %}
    </div>
  
</div>

{% endblock content %}